<div class="xitem xitem-grid"><a href="/truc-tiep/fc-seoul-vs-gimcheon-sangmu-uNpZBdX" class="match-link"></a>
    <div class="stick stick-live"><i class="dot"></i>Live</div>
    <div class="xitem-header">
        <div class="xleague">Korean K League 1</div>
    </div>
    <div class="xitem-main">
        <div class="team team-home">
            <div class="team-logo"><img class="team-logo-img" loading="lazy"
                    src="https://img.thesports.com/football/team/ad010af729c420626d1865ad744168d3.png"></div>
            <div class="xname">
                <h3 class="team-name">FC Seoul</h3>
                <div class="xcards"></div>
            </div>
        </div>
        <div class="xinfo">
            <div class="result">
                <div>0</div>
                <div class="xspace">-</div>
                <div>0</div>
            </div>
            <div class="time-loaded">22'</div><!---->
        </div><!---->
        <div class="team team-away">
            <div class="team-logo"><img class="team-logo-img" loading="lazy"
                    src="https://img.thesports.com/football/team/79ec57d928a934d760e9c432e0b7f30e.png"></div>
            <div class="xname">
                <h3 class="team-name">Gimcheon Sangmu</h3>
                <div class="xcards"></div>
            </div>
        </div>
    </div>
    <div class="xitem-bottom">
        <div class="xcommentator"><i class="fas fa-microphone mr-2"></i>Mèo Ú</div>
        <div class="xitem-buttons">
            <div classw="ibs-live"><a href="/truc-tiep/fc-seoul-vs-gimcheon-sangmu-uNpZBdX" class="btn btn-sm">Trực
                    tiếp</a></div>
            <div class="ibs-bet"><a
                    href="/goto?url=https%3A%2F%2Fwww.fb88affok.com%2FCreativeBanner%2FTrack%3FaID%3D5456%26cID%3D1126%26tID%3D2218"
                    target="_blank" rel="nofollow" class="btn btn-sm btn-betnow">Đặt cược</a></div>
        </div>
    </div>
</div>