.header {
    display: block;
    text-align: center;
}

.tournament{
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0 0 8px 8px;
    display: inline-block;
    line-height: 24px;
    padding: 0 12px;
    font-size: 11px;
    text-transform: uppercase;
}