.xitem-buttons>div {
    display: inline-block;
    margin-left: 10px;
}
.btn-sm {
    padding: 8px 12px;
    border-radius: .5rem;
}
.xitem-buttons .btn-sm {
    background-color: #646871 !important;
    color: #fff;
}
.xitem-buttons .btn-betnow {
    color: #111 !important;
    background-color: #ffcd08 !important;
}